---
import Main from "../layouts/Main.astro";
import Nav from "../components/Nav.astro";
import { Image } from "astro:assets";
import mesurfing from "/src/assets/me-surfing_2019.mp4";

import mattbiopic from "/src/assets/mattbiopic.jpg";
---

<!-- @ts-nocheck -->
<Main title="About">
  <div class="mt-8 mb-4">
    <Nav />
    <div class="mx-auto">
      <Image
        src={mattbiopic}
        alt="matt biopic"
        class="rounded-full mx-auto max-w-xs mb-4"
      />
      <div
        class="containter max-w-prose mx-auto text-lg space-y-3 text-slate-300"
      >
        <p>
          Hi! 👋 I'm Matthew&mdash;I'm a lifelong artist, born in San Francisco
          and raised in Santa Cruz. I usually paint with acrylics on board or
          canvas. Surfing and the coast have been favorite subjects of my art
          ever since I was young. I draw inspiration from trips to Northern
          California, Big Sur, Hawaii, and beyond. Great art, excellent design,
          and web publishing are all passions of mine. I co-founded The Juice, a
          regional surfing magazine, and have designed a few book covers.
          Currently, I work as a Freelance Web & Graphic Designer. I can often
          be found in <s>Santa Cruz</s> Monterey surfing or hiking/biking around
          town, up the coast, or in the mountains. Here's me
          <!-- <a
            href={mesurfing}
            class="hover:underline text-emerald-400 hover:text-emerald-200"
            >playing in the waves.</a
          > -->

          <a
            data-fslightbox="gallery"
            data-caption="Playing in Monterey Bay"
            href="/me-surfing_2019.mp4"
            class="hover:underline text-emerald-400 hover:text-emerald-200"
          >
            playing in the waves.
          </a>
        </p>
        <p class="mt-4 text-slate-300">
          <a
            href="mailto:mattosurf@gmail.com"
            class="hover:underline text-emerald-400 hover:text-emerald-200"
          >
            Email me</a
          > if you're interested in buying an original or print, or want something
          custom.

          <!-- See more about me
          <a
            href="/about"
            class="hover:underline text-emerald-400 hover:text-emerald-200"
            >here</a
          >. -->
        </p>
        <p class="font-sans font-bold">Links</p>
        <ul class="list-disc list-inside md:list-outside space-y-3 pl-3">
          <li>
            <a
              href="https://minnieoleary.com/"
              class="hover:underline text-emerald-400 hover:text-emerald-200"
              >minnieoleary.com</a
            > is a site I made to keep my Mom's music available to hear and buy the
            sheet music - especially
            <em> Songs of Self Esteem</em>
          </li>
          <li>
            <a
              href="https://keeptheapostrophe.com/"
              class="hover:underline text-emerald-400 hover:text-emerald-200"
              >keeptheapostrophe.com</a
            > is a site I made with my Dad to make some noise and help fix the issues
            folks with apostrophes (and anything else "non-standard") in their names
            face when using the web, signing up for apps and services, buying plane
            tickets, etc...
          </li>
          <li>
            <a
              href="https://medium.com/@mattosurf"
              class="hover:underline text-emerald-400 hover:text-emerald-200"
              >Medium:</a
            >
            <em>very</em> occasional writings about surfing, design, etc.
          </li>

          <li>
            <a
              href="https://norcaljuice.wiki"
              class="hover:underline text-emerald-400 hover:text-emerald-200"
              >The Juice - Northern California's Surf Magazine</a
            > ... a surf mag I created with Eric Mitchell a long time ago. This site
            is a work-in-progress. Plan is to make all the old back issues from the
            available for sale. Ping me if that is of interest to you!!
          </li>
          <li>
            <a
              href="https://mattoleary.design"
              class="hover:underline text-emerald-400 hover:text-emerald-200"
              >mattoleary.design</a
            > My Digital Product Design portfolio site.
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/matt-oleary/"
              class="hover:underline text-emerald-400 hover:text-emerald-200"
              >My LinkedIn</a
            >
          </li>
        </ul>
        <p>
          <a
            href="/"
            class="mt-8 hover:underline text-emerald-400 hover:text-emerald-200"
            >Back</a
          >
        </p>
      </div>
    </div>
  </div>
</Main>
