---
import Main from "../layouts/Main.astro";
import Gallery from "../components/Gallery.astro"; // import Giallery from "../components/Gallery.astro";
---

<Main>
  <h1 class="text-3xl font-bold mt-10">Hello world!!!</h1>
  <a href="lightbox6.astro">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >/lightbox6</button
    >
  </a>
  <Gallery />
  <!-- <img src="/image01.jpg" alt="pic1" /> -->
</Main>
