---
import Main from "../layouts/Main.astro";
import Gallery from "../components/Gallery.astro"; // import Giallery from "../components/Gallery.astro";
---

<Main>
  <h1 class="text-3xl font-bold mt-10">Hello world!!</h1>

  <Gallery />
  <!-- <img src="/image01.jpg" alt="pic1" /> -->
</Main>
