---
import Main from "../layouts/Main.astro";
import { Image } from "astro:assets";
import image01 from "/src/assets/image01.jpg";
import image02 from "/src/assets/image02.jpg";
import image03 from "/src/assets/image03.jpg";
---

<Main>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/css/lightbox.min.css"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/js/lightbox.min.js"
  ></script>
  <div
    class="grid md:grid-cols-3 md:gap-x-12 place-items-start max-w-4xl mx-auto mt-12"
  >
    <Image src={image01} alt="Decorative" />
    <Image src={image02} alt="Decorative" />
    <Image src={image03} alt="Decorative" />
  </div>

  <div class="gallery">
    <a href="image01.jpg" data-lightbox="mygallery"
      ><img src="image01.jpg" alt="Image 1" /></a
    >
    <a href="image02.jpg" data-lightbox="mygallery"
      ><img src="image02.jpg" alt="Image 2" /></a
    >
    <a href="image03.jpg" data-lightbox="mygallery"
      ><img src="image03.jpg" alt="Image 3" /></a
    >
    <!-- Add more images as needed -->
  </div>
</Main>
