---
const { title } = Astro.props;
import "../styles/main.css";
import "../styles/fonts.css";
import "../styles/global.css"; // Import the Tailwind CSS file
// Import the Tailwind CSS file
---

<!-- @ts-nocheck --><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>

    <title>{title}</title>
  </head>

  <body class="bg-gray-900">
    <div class="mx-auto max-w-5xl px-4 2xl:px-0">
      <slot />
    </div>

    <script src="../scripts/fslightbox.js"></script>
  </body>
</html>
